.addaddress {
    border-top: 0.01rem solid #e8e8e8;
}

.addaddress .date {
    width: 6.1rem;
    height: 0.88rem;
    border: 0;
    font-size: 0.3rem;
}

.addaddress .line {
    padding: 0 0.15rem;
    background: #fff;
    height: 1.02rem;
    line-height: 1.02rem;
    border-bottom: 0.01rem solid #e8e8e8;
}

.addaddress span {
    float: left;
    height: 0.88rem;
    width: 1.58rem;
    font-size: 0.3rem;
    color: #333333;
}

.addaddress .text {
    width: 4.52rem;
    height: 0.88rem;
    background: none;
    border: 0;
    font-size: 0.26rem;
    line-height: 0.88rem;
    color: #999;
}

.addaddress .text2 {
    height: 0.88rem;
    width: 100%;
    background: none;
    border: 0;
    font-size: 0.26rem;
    line-height: 0.88rem;
    color: #999;
}

.addaddress .csex {
    height: 0.88rem;
    font-size: 0.26rem;
    line-height: 0.88rem;
    color: #999;
    width: 100%;
    border: 0;
    background: none;
    -webkit-appearance: none;
}

.addaddress .cday {
    width: 33%;
    padding-left: 10%;
    float: left;
    height: 0.88rem;
    font-size: 0.26rem;
    line-height: 0.88rem;
    color: #999;
    border: 0;
    background: none;
}

.addaddress .line.delete {
    color: #333;
    margin-top: 0.2rem;
    border-top: 0.01rem solid #e8e8e8;
    font-size: 0.3rem;
}

.addaddress .submit {
    width: 6.1rem;
}

.addaddress .select {
    float: left;
    width: 2rem;
    height: 0.88rem;
    margin-right: 0.2rem;
    color: #999;
    line-height: 0.88rem;
    background: none;
    border: 0;
    font-size: 0.26rem;
    color: #999;
    -webkit-appearance: none;
}

.addaddress .line.madd {
    height: 1.63rem;
}

.addaddress .textarea {
    width: 5.4rem;
    height: 1.6rem;
    background: none;
    border: 0;
    font-size: 0.26rem;
    line-height: 0.34rem;
    color: #999;
    box-sizing: border-box;
    padding-top: 0.27rem;
}

/*.addaddress .sex {*/
    /*padding-left: 0.7rem;*/
    /*width: 0.4rem;*/
    /*height: 0.4rem;*/
    /*background: url("../img/img30.png") no-repeat left center;*/
    /*background-size: 0.4rem 0.4rem;*/
    /*height: 0.88rem;*/
    /*font-size: 0.3rem;*/
/*}*/

.addaddress .sex.sexman {
    margin-right: 1rem;
}

/*.addaddress .sex.cur {*/
    /*background: url("../img/img31.png") no-repeat left center;*/
    /*background-size: 0.4rem 0.4rem;*/
/*}*/

.submit{
    width: 6.8rem;
    display: block;
    height: 1.2rem;
    background: #dccc8d;
    font-size: 0.36rem;
    color: #fff;
    margin: 0.77rem auto 0;
    border: 0;
    border-radius: 7px;
    text-align: center;
    line-height: 1.2rem;
}

.gray {
    background: #ccc !important;
}