.box{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
}
.scroll{
    width:100%;
    height:100%;
    overflow: auto;
}
.cl-info-img{
    width:100%;
    height:2.54rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    top:0;
    padding:0.2rem 0.2rem 0.3rem 0.2rem;
    background-color: #fff;
    position: relative;
    border-bottom: 0.01rem solid #eaeaea;
}
.pro-int{
    width:100%
}
.pro-int-time1{
    font-size: 0.24rem;
    color: #999999;
    display: block;
    line-height: 1;
    margin-bottom: 0.13rem;
}
.pro-int-time2{
    font-size: 0.24rem;
    color: #999999;
    display: block;
    line-height: 1;
}
.pro-int-title{
    font-size: 0.32rem;
    color: #06132f;
    display: block;
    margin-top: 0.27rem;
    margin-bottom: 0.2rem;
    line-height: 0.4rem;
}

.cl-pro-main{
    padding:0.2rem 0.3rem;
}
.cl-pro-main-wz{
    font-size: 0.26rem;
    color: #666666;
    line-height: 0.56rem;
}
.join{
    position: absolute;
    bottom:0;
    font-size: 0.28rem;
    color: #fff;
    background-color: #122b60;
    line-height: 0.84rem;
    text-align: center;
    width:100%;
    display: block;
}
