.history {
    position: relative;
}

.history .delete {
    position: absolute;
    font-size: 0.24rem;
    line-height: 0.24rem;
    color: #999999;
    right: 0.15rem;
    top: 0.3rem;
}

.history .time {
    padding: 0.27rem 0;
    height: 0.36rem;
}

.history {
    width: 100%;
}

.content {
    position: relative;

}

.content ul {
}

.history .content ul {
    width: 6.48rem;
}

.history .content li {
    float: left;
    width: 3.15rem;
    margin-right: 0.09rem;
    margin-bottom: 0.1rem;
}

.history .content li:nth-child(2n) {
    margin-right: 0;
}
.history .content a {
    display: block;
    padding: 0.45rem 0.15rem 0.15rem 0.15rem;
    background: #fff;
    width: 2.84rem;
    position: relative;
}

.history .content .img {
    width: 2.84rem;
    height: 3.17rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.history .content .tt {
    font-size: 0.24rem;
    color: #666666;
    line-height: 1;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
    margin: 0 auto;
    margin-top: 0.16rem;
    margin-bottom: 0.1rem;
}

.history .content .price {
    font-family: 'Arial';
    color: #cebd70;
    font-size: 0.28rem;
    line-height: 1;
    text-align: center;
}

.history .content .timen {
    position: absolute;
    font-size: 0.24rem;
    line-height: 0.3rem;
    color: #666;
    left:50%;
    margin-left: -1.42rem;
    top: 0.1rem;
    width:2.84rem;
    display: inline-block;
    text-align: center;
}

.search-box {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 4;
    background: #f3fbfd;
}

.search-box .nothing .tbs {
    width: 1.51rem;
    height: 1.5rem;
    margin: 1rem auto 0;
}

.search-box .nothing p {
    font-size: 0.3rem;
    color: #666666;
    line-height: 0.3rem;
    text-align: center;
    margin-top: 0.69rem;
}

.NoBnt {
    width: 2.93rem;
    height: 0.86rem;
    display: block;
    text-align: center;
    font-size: 0.36rem;
    line-height: 0.86rem;
    color: #dbcb8c;
    border: 1px solid #dbcb8c;
    margin: 0.47rem auto;
    border-radius: 0.08rem;
}

.hot-content ul {
    width: 6.48rem;
}

.hot-content li {
    float: left;
    width: 3.15rem;
    margin-right: 0.09rem;
    margin-bottom: 0.1rem;
}

.hot-content li:nth-child(2n) {
    margin-right: 0;
}
.hot-content a {
    display: block;
    padding: 0.1rem 0.15rem 0.15rem 0.15rem;
    background: #fff;
    width: 2.84rem;
    position: relative;
}

.hot-content .img {
    width: 2.84rem;
    height: 3.17rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.hot-content .tt {
    font-size: 0.24rem;
    color: #666666;
    line-height: 1;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
    margin: 0 auto;
    margin-top: 0.16rem;
    margin-bottom: 0.1rem;
}

.hot-content .price {
    font-family: 'Arial';
    color: #cebd70;
    font-size: 0.28rem;
    line-height: 1;
    text-align: center;
}

.hot-content .timen {
    position: absolute;
    font-size: 0.24rem;
    line-height: 0.3rem;
    color: #666;
    right: 0.1rem;
    top: 0.1rem;
}
.hot-p{
    margin-bottom: 0.3rem;
    padding-top: 0.2rem;
    border-top:0.01rem solid #ddd;
}