#main{
    width:100vw;
    height: 100vh;
}
.box {
}

.scrollbox{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 1rem;
}

.index-search {
    height: 0.5rem;
    padding:0.11rem 0;
    background: #1c1c1c;
    width: 100%;
    position: relative;
}

/*.index-search input {*/
    /*width: 6rem;*/
    /*height: 0.48rem;*/
    /*border: 1px solid #e2e1de;*/
    /*border-radius: 5px;*/
    /*margin: 0.1rem 0 0 0.2rem;*/
    /*font-size: 0.2048rem;*/
    /*font-family: "宋体";*/
    /*box-shadow: none;*/
    /*-webkit-appearance: none;*/
/*}*/
.index-searchbox{
    width: 6rem;
    height: 0.48rem;
    border: 1px solid #e2e1de;
    border-radius: 5px;
    margin: 0 0.2rem;
    font-size: 0.2048rem;
    background-color: #fff;
    text-align: center;
}
.index-searchbox-name{
    font-size: 0.22rem;
    color: #999;
}
.index-searchlogo {
    background-image: url(img/index-search1.png);
    background-size: 0.25rem 0.25rem;
    background-repeat: no-repeat;
    background-position:left center;
    height: 0.5rem;
    line-height: 0.5rem;
    display: inline-block;
    font-size: 0.22rem;
    color: #999;
    padding-left: 0.33rem;
}
.mainbox{
    width:100%;
}
.main{
    padding:0.27rem;
    background-color: #fff;
    margin-bottom: 0.13rem;
    border-top: 0.01rem solid #eeeeee;
    border-bottom: 0.01rem solid #eeeeee;
    position: relative;
    display: block;
}
.main .pro-img{
    width:1.8rem;
    height:1.8rem;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0.54rem;
}
.pro-int{
    width:3.52rem;
}
.pro-int-name{
    font-size: 0.28rem;
    color: #333333;
    font-weight: bold;
    margin-bottom: 0.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pro-int-int{
    font-size: 0.2rem;
    color: #999999;
    width:3.2rem;
    line-height: 0.26rem;
    margin-bottom: 0.2rem;
}
.pro-int-logo{
    font-size: 0.24rem;
    color: #f12c2c;
}
.pro-int-price{
    color: #f12c2c;
    font-size: 0.32rem;
    font-family:Arial;
}
.pro-int-buynum{
    font-size: 0.2rem;
    color: #aaa;
    position: absolute;
    bottom:0.32rem;
    right:0.2rem;
}

.search-box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f7f7f7;
    display: none;
    z-index: 99;
}

.search-box .content {
    height: 0.72rem;
    background: #fff;
    padding: 0.12rem 0.15rem 0;
    position: relative;
    z-index: 998;
}

.search-box .search {
    width: 5rem;
    height: 0.65rem;
    background: url("img/img44.png") no-repeat left bottom;
    background-size: 100% 0.1rem;
    position: relative;
}

.search-box .delete {
    width: 0.3rem;
    height: 0.3rem;
    background: url("../img/search_del.png") no-repeat;
    background-size: contain;
    position: absolute;
    top: 0.17rem;
    right: 0.17rem;
    display: none;
}

.search-box .close {
    width: 0.6rem;
    height: 0.65rem;
    border: 0;
    background: url("img/back.png") no-repeat center center;
    background-size: 0.24rem 0.26rem;
    text-indent: -9999px;
    display: block;
}

.search-box .text {
    width: 4.2rem;
    height: 0.65rem;
    font-size: 0.26rem;
    line-height: 0.65rem;
    color: #999;
    border: 0;
    background: none;
    display: block;
    float: left;
}

.search-box .btn {
    width: 0.8rem;
    height: 0.65rem;
    color: #c8994c;
    text-align: center;
    font-size: 0.26rem;
    line-height: 0.65rem;
    display: block;
}

.search-box .con p {
    font-size: 0.24rem;
    line-height: 0.24rem;
    color: #999999;
    padding: 0.3rem 0 0.3rem 0.3rem;
}

.search-box .con li {
    float: left;
    font-size: 0.24rem;
    color: #666;
    line-height: 0.69rem;
    padding: 0 0.19rem;
    margin-right: 0.27rem;
    background: #eaeaea;
    margin-bottom: 0.25rem;
    border-radius: 0.07rem;
}

.search-box .con ul {
    padding-left: 0.15rem;
}

.search-box .con li.cur {
    background: #78a000;
    color: #fff;
}

.nothing {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0.8rem;
    z-index: 4;
    background: #f7f7f7;
}

.nothing .tb {
    width: 1.51rem;
    height: 1.5rem;
    margin: 2.54rem auto 0;
    background: url("img/img9.png") no-repeat;
    background-size: cover;
}

.nothing p {
    font-size: 0.3rem;
    color: #666666;
    line-height: 0.3rem;
    text-align: center;
    margin-top: 0.69rem;
}