.confirm-order{
    width:100vw;
    height: 100vh;
}
.confirm-order .addadd {
    height: 1.88rem;
    background: url("img/img36.jpg");
    background-size: cover;
    position: relative;
}

.confirm-order .addadd a {
    display: block;
    height: 100%;
}

.confirm-order .addadd .tt {
    font-size: 0.3rem;
    line-height: 0.36rem;
    color: #a5a5a5;
    padding-left: 0.52rem;
    background: url("img/img37.png") no-repeat;
    background-size: 0.36rem 0.36rem;
    position: absolute;
    top: 0.64rem;
    left: 1.9rem;
}

.confirm-order .choadd {
    padding-bottom: 0.3rem;
    background: url("img/bg4.png");
    background-size: cover;
    position: relative;
    border-bottom: 0.01rem solid #ddd;
}


.confirm-order .choadd .a {
    display: block;
    height: 100%;
    padding: 0 0.84rem 0 0.94rem;
    background: url("img/logo46.png") no-repeat 0.28rem 0.37rem;
    background-size: 0.34rem 0.51rem;
}

.confirm-order .choadd .name {
    width: 2.78rem;
    line-height: 0.69rem;
    color: #444;
    font-size: 0.26rem;
}

.confirm-order .choadd .tel {
    line-height: 0.69rem;
    color: #444;
    font-size: 0.24rem;
}

.confirm-order .choadd .add {
    font-size: 0.24rem;
    line-height: 0.35rem;
    color: #666;
}

.confirm-order .choadd i {
    position: absolute;
    width: 0.18rem;
    height: 0.32rem;
    background: url("img/logo38.png") no-repeat;
    background-size: cover;
    top: 0.56rem;
    right: 0.17rem;
}

.confirm-order .pro-list {
    margin-top: 0.16rem;
    background: #fff;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.confirm-order .pro-list a {
    display: block;
    height: 2.24rem;
    padding: 0.22rem 0.15rem 0;
}

.confirm-order .pro-list .godeta {
    display: block;
    height: 2.24rem;
    padding: 0.28rem;
}

.confirm-order .pro-list .img {
    width: 1.57rem;
    height: 1.57rem;
    border: 0.01rem solid #e8e8e8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.confirm-order .pro-list li {
    float: left;
    margin-right: 0.1rem;
}

.confirm-order .pro-list .num {
    margin-top: 0.14rem;
    font-size: 0.24rem;
    line-height: 0.3rem;
    color: #666;
    text-align: center;
}

.confirm-order .pro-list .num span {
    font-size: 0.3rem;
}

.confirm-order .pro-list ul {
    float: left;
}

.confirm-order .pro-list .allnum {
    font-size: 0.24rem;
    line-height: 0.32rem;
    color: #666;
    padding-right: 0.33rem;
    background: url("img/logo45.png") no-repeat right center;
    background-size: 0.18rem 0.32rem;
    margin-top: 0.85rem;
}

.confirm-order .line {
    height: 0.86rem;
    padding: 0 0.28rem;
    border-bottom: 1px solid #e8e8e8;
    background: #fff;
    overflow: hidden;
    position: relative;
}

.confirm-order .line .tt {
    font-size: 0.3rem;
    line-height: 0.86rem;
    color: #333333;
}

.confirm-order .line .price {
    font-size: 0.36rem;
    line-height: 0.86rem;
    color: #c8994c;
    font-family: 'Arial';
}

.confirm-order .line .price .dec {
    font-size: 0.3rem;
}

.confirm-order .line .w145 {
    width: 1.55rem;
    float: left;
}

.confirm-order .line .text {
    width: 5.35rem;
    height: 0.86rem;
    background: none;
    border: 0;
    font-size: 0.26rem;
    color: #999;
}
.confirm-order .line .peit{
    text-align: right;
}
.confirm-order .line.postage .price .dec {
    font-size: 0.24rem;
}

.shopcar.detailed {
    margin-top: 0.16rem;
}

.shopcar.detailed .info {
    width: 4.9rem;
}

.shopcar.detailed .img {
    width: 1.86rem;
    height: 1.86rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.shopcar.detailed .bot .num {
    font-size: 0.26rem;
    line-height: 0.3rem;
    color: #666666;
}

.shopcar .box {
    padding: 0.28rem;
    height: 1.86rem;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    background: #fff;
    position: relative;
}


.shopcar .tt {
    font-size: 0.3rem;
    line-height: 0.36rem;
    color: #1b1b20;
    height: 0.72rem;
    overflow: hidden;
}

.shopcar .tt a {
    color: #333;
}

.shopcar .tc {
    font-size: 0.26rem;
    line-height: 0.24rem;
    color: #666;
    margin-top: 0.17rem;
}

.shopcar .tc .int span {
    margin-right: 0.08rem;
}

.shopcar .bot {
    margin-top: 0.29rem;
}

.shopcar .price {
    font-size: 0.32rem;
    line-height: 0.3rem;
    font-family: '微软雅黑';
    color: #c8994c;
}

.shopcar .price .amo {
    font-size: 0.32rem;
    font-family: 'Arial';
}

.shopcar .price .dec {
    font-size: 0.24rem;
}

.shopcar .price .oldprice {
    font-size: 0.24rem;
    color: #999999;
    text-decoration: line-through;
    margin-left: 0.05rem;
}

.shopcar .edit {
    font-size: 0.24rem;
    line-height: 0.3rem;
    color: #999;
}

.shopcar .editbox {
    position: absolute;
    width: 3.34rem;
    top: 0.3rem;
    right: 0.15rem;
    background: #fff;
    height: 1.96rem;
    display: none;
}

.shopcar .jia, .shopcar .jian {
    width: 0.58rem;
    height: 0.59rem;
}
.car-list{
    width:7.5rem;
    height:2.1rem;
    background-color: #fff;
    /*position: absolute;*/
    /*bottom:0;*/
}
.hj{
    font-size: 0.3rem;
    color: #1c1f23;
    text-align: center;
    line-height: 0.88rem;
}
.hj .price{
    font-size: 0.36rem;
    color: #c8994c;
    font-weight: bold;
    text-align: center;
    line-height: 0.88rem;
}
.balance{
    width:7.02rem;
    height: 0.86rem;
    text-align: center;
    line-height: 0.86rem;
    font-size: 0.3rem;
    color: #fff;
    background-color: #c8994c;
    display: block;
    border-radius: 6px;
    margin:0 auto;
}
.confirm-youhjt {
    position: absolute;
    right: 0.16rem;
    top: 0.26rem;
    background: url(img/logo38.png) no-repeat;
    background-size: 100%;
    height: 0.32rem;
    width: 0.18rem;
}
.weui_cell_ft {
    text-align: right;
    color: #888;
    font-size: 0;
    margin-top: 0.23rem;
}
.weui_switch {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 0.91rem;
    height: 0.4rem;
    border: 1px solid #dfdfdf;
    outline: 0;
    border-radius: 0.18rem;
    box-sizing: border-box;
    background: #dfdfdf;
    -webkit-tap-highlight-color: transparent;
}
.weui_switch:checked {
    border-color: #04be02;
    background-color: #04be02;
}

.weui_switch:checked:after {
    -webkit-transform: translateX(0.5rem);
    transform: translateX(0.5rem);
}
.weui_switch:after {
    width: 0.38rem;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.weui_switch:after, .weui_switch:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 0.36rem;
    border-radius: 0.18rem;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}


/*优惠券*/

/*.youhq {*/
/*background: url(img/youhq-img1.png);*/
/*width: 7.2rem;*/
/*height: 2.06rem;*/
/*background-size: cover;*/
/*position: relative;*/
/*margin-bottom: 0.2rem;*/
/*background-position: center;*/
/*}*/

/*.youhq img {*/
/*width: 0.93rem;*/
/*height: 2.06rem;*/
/*float: right;*/
/*}*/

/*.youhq-box {*/
/*}*/

/*.youhq-mainl1 {*/
/*}*/

/*.youhq-mainl .youhq-mainl1 span {*/
/*font-size: 0.6rem;*/
/*color: #d1a162;*/
/*line-height: 1;*/
/*}*/

/*.youhq-mainl .youhq-mainl1 a {*/
/*font-size: 0.24rem;*/
/*color: #d1a162;*/
/*display: block;*/
/*margin-left: 0.1rem;*/
/*}*/

/*.youhq-mainr .youhq-mainr1 {*/
/*font-size: 0.36rem;*/
/*color: #322d2f;*/
/*}*/

/*.youhq-mainr .youhq-mainr2 {*/
/*font-size: 0.24rem;*/
/*color: #999;*/
/*line-height: 0.3rem;*/
/*}*/

/*.youhq-mainr .youhq-mainr3 {*/
/*color: #e31f2c;*/
/*font-size: 0.18rem;*/
/*}*/

/*.youhq-mainl {*/
/*position: absolute;*/
/*left: 0.3rem;*/
/*top: 0.7rem;*/
/*}*/

/*.youhq-mainr {*/
/*position: absolute;*/
/*left: 2.8rem;*/
/*top: 0.4rem;*/
/*}*/
.yhq-btn {
    width: 7.02rem;
    height: 0.86rem;
    background: #c8994c;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.86rem;
    color: #fff;
    border-radius: 6px;
    position: fixed;
    bottom: 0.3rem;
    left:50%;
    margin-left: -3.51rem;
}
.time-btn {
    width: 7.02rem;
    height: 0.86rem;
    background: #c8994c;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.86rem;
    color: #fff;
    border-radius: 3px;
    position: fixed;
    bottom: 0.2rem;
    left:50%;
    margin-left: -3.51rem;
}
.youhq.active {
    border: 1px solid #e84608;

}

.date {
    width: 7.5rem;
    height: 0.88rem;
    border: 0;
    font-size: 0.3rem;
}
.timebox {
    margin-top: 0.2rem;
    border-top: 0.01rem solid #e8e8e8;
    display: none;
}

.x-choose-title{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.1rem;
    border-bottom: 1px solid #e8e8e8;
    background: #fff;
}
.x-choose-title ul{
    float: left;
    width: 100%;
}
.x-choose-title li{
    float: left;
    width: 50%;
}
.x-choose-title li a{
    display: block;
    text-align: center;
    padding: 0 0.25rem;
    line-height: 1.1rem;
    font-size: 0.34rem;
    color: #333333;
    position: relative;
}
.x-choose-title li a i{
    position: absolute;
    left: 0.25rem;
    right: 0.25rem;
    bottom: -0.02rem;
    background: #c0a85f;
    height: 0.05rem;
    border-radius: 0.01rem;
    display: none;
}
.x-choose-title li.cur a i{
    display: block;
}
.x-coupon{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    overflow: auto;
    background: #f3fbfd;
}
.x-coupon .list{
    padding: 0.3rem 0.75rem 0.5rem;
}
.x-coupon .list li{
    margin-bottom: 0.4rem;
    border: 1px solid #c0a85f;
    text-align: center;
    padding: 0.18rem;
    background-color: #e7e7e7;
}
.x-coupon .list li.active{
    border: 1px solid red;
}
.x-coupon .list li .box{
    background-image: url(img/x_img1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: block;
    padding: 0.35rem 0 0.2rem;
}
.x-coupon .list li h4{
    font-weight: bold;
    font-size: 0.6rem;
    color: #ffffff;
    line-height: 0.7rem;
    margin-bottom: 16px;
}
.x-coupon .list li p{
    line-height: 0.54rem;
    font-size: 0.3rem;
    color: #ffffff;
}
.x-coupon .list li h5{
    font-size: 0.28rem;
    padding-bottom: 0.17rem;
    font-weight: bold;
    color: #fff;
    line-height: 0.54rem;
}

.lqbtn{
    width: 7.02rem;
    height: 0.86rem;
    text-align: center;
    line-height: 0.86rem;
    font-size: 0.3rem;
    color: #fff;
    background-color: #dccc8d;
    display: block;
    border-radius: 6px;
    margin: 0 auto;
}
.lqbox{
    position: absolute;
    bottom:0.2rem;
    width:7.5rem;
}
.lingqu{
    width:100%;
    height:1rem;
    text-align: center;
    line-height: 1rem;
    background-color: #dccc8d;
    color: #fff;
    border-top: 0.01rem solid #eee;
    font-size: 0.34rem;
}
.jjg{
    background: #fff;
    color: #333;
    font-size: 0.3rem;
    margin-bottom: 0.2rem;
    padding-left: 0.2rem;
    line-height: 1rem;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
/*.srollbox{*/
/*width:100%;*/
/*height:100%;*/
/*overflow: auto;*/
/*}*/