.myinfo .submit {
    display: block;
    width: 100%;
    height:1rem;
    background: #fff;
    color: #c8984b;
    font-size: 0.3rem;
    margin: 0.77rem auto 0;
    border: 0;
    border-radius: 0.07rem;
    text-align: center;
    line-height: 1rem;
    position: fixed;
    bottom:0;
}

.myinfo .head {
    padding: 0.16rem 0.48rem 0.16rem 0.15rem;
    background: #fff;
    position: relative;
    border-top: 0.01rem solid #e8e8e8;
    border-bottom: 0.01rem solid #e8e8e8;
    margin-bottom: 0.2rem;
}

.myinfo .head span {
    line-height: 1rem;
}

.myinfo .head .img {
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    border-radius: 50%;
}

.myinfo .head .file {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    left: 0;
    top: 0;
    opacity: 0;
}

.myinfo span {
    float: left;
    font-size: 0.3rem;
    color: #64666a;
    line-height: 0.99rem;
}

.myinfo .line {
    border-bottom: 0.01rem solid #e8e8e8;
    background: #fff;
    position: relative;
}

.myinfo .line a {
    display: block;
    height: 0.99rem;
    padding: 0 0.48rem 0 0.15rem;
    position: relative;
}

.myinfo .line p {
    font-size: 0.28rem;
    color: #999999;
    line-height: 0.99rem;
    position: absolute;
    right:0.6rem;
    top:0rem;
}

.jt {
    width: 0.13rem;
    height: 0.24rem;
    background: url("img/logo38.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 0.15rem;
    top: 50%;
    margin-top: -0.12rem;
    z-index: 2;
}

.tips{
    margin-top: 0.2rem;
    font-size: 0.24rem;
    line-height: 0.54rem;
    color: #999999;
    text-align: left;
    padding:0 0.26rem;
}