.my-order {
    background-color: #f3fbfd;
}

.ordernav {
    width: 100%;
    height: 0.9rem;
    border-bottom: 1px solid #cccccc;
    background: #fff;
    position: relative;
    z-index: 40;
}

.ordernav a {
    float: left;
    width:25%;
    text-align: center;
    height: 0.99rem;
    font-size: 0.3rem;
    color: #666666;
    line-height: 0.99rem;
}

.ordernav a.active {
    color: #dccc8d;
}

.ordernavbox {
    width: 100%;
}

.my-order .ordernav .btn {
    float: left;
    width: 0.95rem;
    height: 0.9rem;
    background: url("img/img43.jpg") no-repeat;
    background-size: cover;
}

.my-order .top {
    padding: 0 0.24rem;
    height: 0.85rem;
    border-bottom: 1px solid #f0f0f0;
    line-height: 0.85rem;
    background: #fff;
}

.my-order .shop {
    font-size: 0.28rem;
    color: #1c1f23;
}

.my-order .time {
    font-size: 0.28rem;
    color: #666;
    line-height: 1;
    margin-top: 0.24rem;
}

.my-order .st {
    color: #1c1f23;
    font-size: 0.28rem;
    color: #dccc8d;
}

.my-order .total {
    padding: 0 0.15rem;
    font-size: 0.28rem;
    color: #666;
    text-align: right;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff;
}

.my-order .box {
    margin-top: 0.22rem;
}

.my-order .box a {
    display: block;
}

.my-order .btns {
    padding: 0.3rem 0rem;
}

.my-order .btns .btn {
    width: 1.76rem;
    height: 0.6rem;
    border: 0.02rem solid #999999;
    font-size: 0.26rem;
    line-height: 0.6rem;
    color: #1c1f23;
    margin-left: 0.18rem;
    float: right;
    text-align: center;
}

.my-order .btns .btn.cur {
    color: #fff;
    background-color: #dccc8d;
    border-color: #dccc8d;
}

.pro-style {
    border-bottom: 1px solid #e8e8e8;
    display: block;
    padding: 0.24rem 0.24rem;
    background-color: #fff;
    position: relative;
}

.pro-style .img {
    width: 2rem;
    height: 2rem;
    border: 0.01rem solid #e8e8e8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0.26rem;
}

.pro-style .info {
    width: 4.72rem;
}

.zl {
    display: block;
    line-height: 1;
    color: #999999;
    font-size: 0.28rem;
    margin-top: 0.26rem;
}

.sxf {
    display: block;
    line-height: 1;
    color: #64666a;
    font-size: 0.22rem;
    margin-top: 0.12rem;
}

.pro-style .name {
    font-size: 0.32rem;
    line-height: 0.36rem;
    color: #333;
    overflow: hidden;
    width: 3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0.2rem;
}

.pro-style .color {
    font-size: 0.24rem;
    line-height: 0.24rem;
    color: #999999;
    margin-top: 0.25rem;
    width: 3rem;
}

.pro-style .color span {
    margin-right: 0.08rem;
}

.total .num {
    width: 1.45rem;
    text-align: right;
    color: #1c1f23;
    font-size: 0.28rem;
    line-height: 1;
    margin-top: 0.24rem;

}

.zongjia {
    line-height: 1.24rem;
    font-size: 0.3rem;
    display: block;
    color: #3d3d45;
    margin-left: 0.3rem;
}
.zongjia i{
    color: #c0a85f;
}
.pro-style .price {
    color: #c0a85f;
    font-size: 0.32rem;
}
.zhongl{
    clear: both;
}
.pro-style .number {
    margin-top: 0.26rem;
    line-height: 1;
    color: #64666a;
    font-size: 0.28rem;
    display: block;
}

.pro-style .back {
    display: block;
    border: 1px solid #999999;
    color: #999999;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.51rem;
    padding: 0 0.14rem;
    border-radius: 0.08rem;
    height: 0.51rem;
    margin-top: 0.15rem;
}

.zt {
    font-size: 0.28rem;
    color: #dccc8d;
    position: absolute;
    right:0.24rem;
    top:0.34rem;
}

.nothingbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #f0f0f0;
}

.orderbox {
}
.back{
    width: 1.76rem;
    height: 0.6rem;
    border: 0.02rem solid ##dccc8d;
    font-size: 0.26rem;
    line-height: 0.6rem;
    color: #fff;
    margin-left: 0.18rem;
    float: right;
    text-align: center;
    background:#dccc8d;
}
.pop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 98;
}

.pop .box {
    background: #fff;
    border-radius: 5px;
    width: 4.4rem;
    position: fixed;
    left: 50%;
    margin-left: -2.2rem;
    top: 50%;
    margin-top: -1rem;
    text-align: center;
    z-index: 90;
}

.pop .tit {
    font-size: 0.36rem;
    color: #353535;
    padding: 0.1rem 0;
}

.pop .btnb {
    overflow: hidden;
    padding-top: 0.15rem;
    /*padding-bottom: 0.1rem;*/
    border-bottom: 0;
}

.pop .btnb p {
    background-color: #666;
    display: block;
    width: 50%;
    font-size: 0.3rem;
    color: #fff;
    float: left;
    text-align: center;
}
.pop .btnb p.quxiao{
    background-color: #dccc8d;
    display: block;
    width: 50%;
    font-size: 0.3rem;
    color: #fff;
    float: left;
    text-align: center;
}

.pop .btnb a.no {
    border-right: 1px solid #c9c9c9;
}

.pop .btnb a {
    display: block;
    color: #fff;
    font-size: 0.3rem;
}

.pop-com {
    display: none;
}

.pop-del {
    display: none;
}
.pop-can{
    display: none;
}
.nothing{
    width: 100%;
    background: #f3fbfd;
    display: none;
}
.nothing .tb{
    width: 1.5rem;
    height: 1.5rem;
    margin: 2.54rem auto 0.5rem;
    background: url("img/img9.png") no-repeat;
    background-size: cover;
}
.nothing p {
    font-size: 0.3rem;
    color: #666666;
    line-height: 0.3rem;
    text-align: center;
}
