.per-cen .head a {
    display: block;
    background: #dccc8d;
    height: 1.28rem;
    padding: 0.26rem 0.2rem;
    position: relative;
}

.per-cen .head a .img {
    width: 1.2rem;
    height: 1.2rem;
    overflow: hidden;
    border-radius: 50%;
    border: 0.04rem solid #fff;
}

.per-cen .head a .info {
    padding-left: 0.31rem;
    color: #fff;
    line-height: 0.54rem;
    padding-top: 0.13rem;
}

.per-cen .head a .name {
    font-size: 0.36rem;
}

.per-cen .head a .ph {
    font-size: 0.28rem;
}

.per-cen .head a .jt2 {
    width: 0.19rem;
    height: 0.32rem;
    background: url("img/logo47.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 0.15rem;
    top: 50%;
    margin-top: -0.16rem;
}

.per-cen .money {
    background: #fff;
    line-height: 0.39rem;
    text-align: center;
}

.per-cen .money .yuan {
    font-size: 0.24rem;
    line-height: 0.24rem;
}

.per-cen .money a {
    display: block;
    color: #333;
}

.per-cen .money .left {
    width: 50%;
    height: 1.36rem;
    border-right: 0.01rem solid #e8e8e8;
    border-bottom: 0.01rem solid #e8e8e8;
    box-sizing: border-box;
    padding-top: 0.24rem;
    color: #333;
}

.per-cen .money .right {
    width: 50%;
    height: 1.36rem;
    border-bottom: 0.01rem solid #e8e8e8;
    box-sizing: border-box;
    padding-top: 0.24rem;
    color: #333;
}

.per-cen .money .num {
    font-size: 0.5rem;
    color: #333;

}
.per-cen .money .num i{
    font-size: 0.3rem;
    color: #333;
}

.per-cen .money .p {
    font-size: 0.3rem;
    color: #999;
    margin-top: 0.06rem;
}

.per-cen .myorder {
    margin-top: 0.2rem;
    background: #fff;
    margin-bottom: 0.2rem;
}

.per-cen .myorder .list {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.per-cen .myorder .list a {
    display: block;
    width: 25%;
    height: 1.28rem;
    border-right: 1px solid #e8e8e8;
    box-sizing: border-box;
    padding-top: 0.82rem;
    float: left;
    text-align: center;
    color: #333;
    position: relative;
}

.per-cen .myorder .list .tt {
    font-size: 0.24rem;
    line-height: 0.24rem;
}

.per-cen .myorder .list i {
    width: 0.34rem;
    height: 0.34rem;
    text-align: center;
    line-height: 0.3rem;
    border-radius: 50%;
    font-size: 0.2rem;
    color: #fff;
    background: #dccc8d;
    position: absolute;
    top: 0.19rem;
    right: 0.44rem;
    font-style: normal;
}

.per-cen .myorder .pay {
    background: url("img/logo48.png") no-repeat center 0.3rem;
    background-size: 0.53rem 0.44rem;
}

.per-cen .myorder .get {
    background: url("img/logo49.png") no-repeat center 0.3rem;
    background-size: 0.53rem 0.44rem;

}

.per-cen .myorder .evaluate {
    background: url("img/logo50.png") no-repeat center 0.3rem;
    background-size: 0.53rem 0.44rem;

}

.per-cen .myorder .service {
    background: url("img/logo51.png") no-repeat center 0.3rem;
    background-size: 0.53rem 0.44rem;

}

.per-cen .line a {
    display: block;
    padding: 0 0.36rem 0 0.36rem;
    height: 1.05rem;
    border-top: 1px solid #e8e8e8;
    position: relative;
    background: #fff;
    z-index: 1;
}

.per-cen .line .tt {
    float: left;
    font-size: 0.36rem;
    color: #333;
    line-height: 1.05rem;
}

.per-cen .line.lishi a{
    border-bottom: 1px solid #e8e8e8;
}
.per-cen .tc {
    float: right;
    font-size: 0.3rem;
    color: #999;
    line-height:1.05rem;
    margin-right: 0.2rem;
}

.per-cen .partner {
    margin-top: 0.2rem;
    background: #fff;
}

.per-cen .partner ul {
    width: 6.42rem;
}

.per-cen .partner li {
    width: 2.12rem;
    border-right: 1px solid #e8e8e8;
    height: 1.3rem;
    float: left;
    text-align: center;
    line-height: 0.36rem;
}

.per-cen .partner li a {
    display: block;
    height: 1.3rem;
    width: 100%;
    color: #333;
    box-sizing: border-box;
    padding-top: 0.33rem;
}

.per-cen .partner .num {
    font-size: 0.24rem;
    line-height: 0.24rem;
}

.per-cen .partner .num span {
    font-size: 0.36rem;
    line-height: 0.36rem;
}

.per-cen .partner .p {
    font-size: 0.24rem;
}

.per-cen .weixin {
    margin-top: 0.2rem;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    padding: 0.24rem 0.24rem 0.24rem 0.32rem;
    background: #fff;
}

.per-cen .weixin .logo {
    width:2.66rem;
    height: 1.19rem;
    background-size: cover;
}

.per-cen .weixin .info {
    padding-left: 0.27rem;
}

.per-cen .weixin h2 {
    font-size: 0.36rem;
    line-height: 0.5rem;
    padding-top: 0.03rem;
    color: #333;
}

.per-cen .weixin .tc {
    font-size: 0.24rem;
    line-height: 0.36rem;
    color: #999;
}

.per-cen .weixin .att {
    width: 2.8rem;
    height: 0.8rem;
    background: #fff;
    font-size: 0.32rem;
    line-height: 0.8rem;
    color: #333333;
    text-align: center;
    border-radius:50px;
    margin-top: 0.16rem;
    border:0.01rem solid #ebebeb;
}
.jt {
    width: 0.16rem;
    height: 0.3rem;
    background: url(img/logo38.png) no-repeat;
    background-size: cover;
    position: absolute;
    right: 0.15rem;
    top: 50%;
    margin-top: -0.15rem;
    z-index: 2;
}
.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 130;
}
.mask .box {
    margin-top: 2.36rem;
    position: relative;
}
.mask .ewm {
    width: 2.53rem;
    height: 2.53rem;
    background: #fff;
    padding: 0.2rem;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mask .p {
    font-size: 0.36rem;
    line-height: 0.48rem;
    color: #fff;
    text-align: center;
    margin-top: 0.44rem;
}

.index-navbox {
    border-top: 1px solid #dddddd;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 1.08rem;
    padding-top: 0.2rem;
    z-index: 100;
}

.index-navbox a {
    width: 25%;
    text-align: center;
    font-size: 0.3rem;
    color: #7b6e52;
    box-sizing: border-box;
    display: block;
    float: left;
    border-right: 0.01rem solid #dddddd;
}

.index-navbox a:last-child {
    border-right: none;
}

.index-navbox a .index-navwz {
    margin-top: 0.1rem;
}

.index-navbox .index-nav4 {
    border-right: none;
}

.index-navbox .navlogo1 {
    background: url("img/logo11.png") no-repeat center;
    background-size: 0.52rem 0.52rem;
    display: block;
    width: 0.52rem;
    height: 0.52rem;
    margin: 0 auto;
}

.index-navbox .navlogo2 {
    background: url("img/logo12.png") no-repeat center;
    background-size: 0.52rem 0.52rem;
    display: block;
    width: 0.52rem;
    height: 0.52rem;
    margin: 0 auto;
}

.index-navbox .navlogo3 {
    background: url("img/logo13.png") no-repeat center;
    background-size: 0.52rem 0.52rem;
    display: block;
    width: 0.52rem;
    height: 0.52rem;
    margin: 0 auto;
}

.index-navbox .navlogo4 {
    background: url("img/logo14.png") no-repeat center;
    background-size: 0.52rem 0.52rem;
    display: block;
    width: 0.52rem;
    height: 0.52rem;
    margin: 0 auto;
}

.index-navbox .active .navlogo1 {
    background: url("img/logo15.png") no-repeat center;
    background-size: 0.52rem 0.52rem;
}

.index-navbox .active .navlogo2 {
    background: url("img/logo16.png") no-repeat center;
    background-size: 0.52rem 0.52rem;
}

.index-navbox .active .navlogo3 {
    background: url("img/logo17.png") no-repeat center;
    background-size: 0.52rem 0.52rem;
}

.index-navbox .active .navlogo4 {
    background: url("img/logo18.png") no-repeat center;
    background-size: 0.52rem 0.52rem;
}

.index-navbox .active .index-navwz {
    color: #cebd70;
}

.index-navwz {
    line-height: 1;
    font-size: 0.3rem;
    color: #7b6e52;
    display: block;
}