.box {
    width: 100vw;
    height: 100vh;
}

#index {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 1.28rem;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}

.swiper-container {
    height: 4.32rem;
}

.index-banner a {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-pagination-bullet {
    background: url("img/logo2.png") no-repeat center;
    width: 0.17rem;
    height: 0.17rem;
    background-size: cover;
}

.swiper-pagination-bullet-active {
    background: url("img/logo1.png") no-repeat center;
    width: 0.17rem;
    height: 0.17rem;
    background-size: cover;
}

.swiper-pagination-bullet {
    opacity: 1;
}

.top {
    height: 0.96rem;
    background-color: #f3fbfd;
    padding: 0 0.28rem;
    line-height: 0.96rem;
    display: block;
}

.main .title {
    font-size: 0.32rem;
    color: #666;
    text-align: center;
    width: 100%;
}

.main .title span {
    font-size: 0.32rem;
    color: #b5c4c8;
    margin-left: 0.1rem;
}

.main .more {
    background: url("img/logo3.png") no-repeat right center;
    background-size: 0.13rem 0.23rem;
    padding-right: 0.2rem;
    display: block;
    font-size: 0.32rem;
    color: #666666;
}

.products {
    width: 7.26rem;
    padding: 0 0.12rem;
    background: #f3fbfd;
}

.products .proimg {
    width: 100%;
    height: 3.55rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 0.01rem solid #ddd;
}

.wenzbox {
    width: 100%;
}

.products .name {
    font-size: 0.3rem;
    color: #3d3d45;
    text-align: center;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.probox:nth-child(2n+0) {
    margin-right: 0;
}

.probox {
    display: block;
    background: #fff;
    width: 3.58rem;
    border: 0.01rem solid #dddddd;
    padding-bottom: 0.18rem;
    float: left;
    box-sizing: border-box;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
}

.products .price {
    color: #cebd70;
    font-size: 0.3rem;
    text-align: center;
    display: block;
    line-height: 1;
    font-weight: bold;
    margin-top: 0.1rem;
}

.index-navbox {
    border-top: 1px solid #dddddd;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 1.08rem;
    padding-top: 0.2rem;
    z-index: 100;
}

.index-navbox a {
    width: 25%;
    text-align: center;
    font-size: 0.3rem;
    color: #7b6e52;
    box-sizing: border-box;
    display: block;
    float: left;
    border-right: 0.01rem solid #dddddd;
}

.index-navbox a:last-child {
    border-right: none;
}

.index-navbox a .index-navwz {
    margin-top: 0.1rem;
}

.index-navbox .index-nav4 {
    border-right: none;
}

.index-navbox .navlogo1 {
    background: url("img/logo11.png") no-repeat center;
    background-size: 0.52rem 0.52rem;
    display: block;
    width: 0.52rem;
    height: 0.52rem;
    margin: 0 auto;
}

.index-navbox .navlogo2 {
    background: url("img/logo12.png") no-repeat center;
    background-size: 0.52rem 0.52rem;
    display: block;
    width: 0.52rem;
    height: 0.52rem;
    margin: 0 auto;
}

.index-navbox .navlogo3 {
    background: url("img/logo13.png") no-repeat center;
    background-size: 0.52rem 0.52rem;
    display: block;
    width: 0.52rem;
    height: 0.52rem;
    margin: 0 auto;
}

.index-navbox .navlogo4 {
    background: url("img/logo14.png") no-repeat center;
    background-size: 0.52rem 0.52rem;
    display: block;
    width: 0.52rem;
    height: 0.52rem;
    margin: 0 auto;
}

.index-navbox .active .navlogo1 {
    background: url("img/logo15.png") no-repeat center;
    background-size: 0.52rem 0.52rem;
}

.index-navbox .active .navlogo2 {
    background: url("img/logo16.png") no-repeat center;
    background-size: 0.52rem 0.52rem;
}

.index-navbox .active .navlogo3 {
    background: url("img/logo17.png") no-repeat center;
    background-size: 0.52rem 0.52rem;
}

.index-navbox .active .navlogo4 {
    background: url("img/logo18.png") no-repeat center;
    background-size: 0.52rem 0.52rem;
}

.index-navbox .active .index-navwz {
    color: #cebd70;
}

.index-navwz {
    line-height: 1;
    font-size: 0.3rem;
    color: #7b6e52;
    display: block;
}

.sidebar {
    background: #fff;
    width: 1.74rem;
    border: 0.01rem solid #cfcfcf;
}

.sidebar .cake {
}

.sidebarnav {
    position: absolute;
    left: -0.02rem;
    top: 50%;
    z-index: 100;
}

.cake, .eat, .flower {
    padding-top: 0.35rem;
}

.cake .logo {
    background: url("img/logo4.png") no-repeat center;
    background-size: cover;
    margin: 0 auto;
    display: block;
    width: 0.84rem;
    height: 0.9rem;
    margin-bottom: 0.14rem;
}

.eat .logo {
    background: url("img/logo5.png") no-repeat center;
    background-size: cover;
    margin: 0 auto;
    display: block;
    width: 0.84rem;
    height: 0.9rem;
    margin-bottom: 0.14rem;
}

.flower .logo {
    background: url("img/logo6.png") no-repeat center;
    background-size: cover;
    margin: 0 auto;
    display: block;
    width: 0.84rem;
    height: 0.9rem;
    margin-bottom: 0.14rem;
}

.cakewz {
    font-size: 0.3rem;
    color: #3d3d45;
    text-align: center;
    display: block;
    margin: 0 auto;
    line-height: 1;
    width: 0.94rem;
    padding-bottom: 0.48rem;
    border-bottom: 0.01rem solid #ddd;
}

.cakewz1 {
    border-bottom: none;
}

.logo9 {
    width: 0.82rem;
    height: 1.05rem;
    background: url("img/logo9.png") no-repeat center;
    background-size: cover;
    margin-bottom: 0.03rem;
    display: none;
}

.logo10 {
    width: 0.82rem;
    height: 1.05rem;
    background: url("img/logo10.png") no-repeat center;
    background-size: cover;
}

.rightbar {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 100;
}

.toleft {
    background: url("img/logo7.png") no-repeat center;
    background-size: cover;
    width: 0.45rem;
    height: 1.07rem;
    position: absolute;
    right: -0.45rem;
    top: 50%;
    margin-top: -0.535rem;
}

.sidebarnav.left {
    transform: translateX(-100%);
    -ms-transform: translateX(-100%); /* IE 9 */
    -moz-transform: translateX(-100%); /* Firefox */
    -webkit-transform: translateX(-100%); /* Safari 和 Chrome */
    -o-transform: translateX(-100%); /* Opera */
    transition: 1s
}

.sidebarnav.right {
    transform: translateX(0);
    -ms-transform: translateX(0); /* IE 9 */
    -moz-transform: translateX(0); /* Firefox */
    -webkit-transform: translateX(0); /* Safari 和 Chrome */
    -o-transform: translateX(0); /* Opera */
    transition: 1s
}

.toright {
    background: url("img/logo8.png") no-repeat center;
    background-size: cover;
    width: 0.45rem;
    height: 1.07rem;
    position: absolute;
    right: -0.45rem;
    top: 50%;
    margin-top: -0.535rem;
}