.infoBox{
    background: #f3fbfd;
}
.swiper-pagination-bullet {
    background: url("img/logo25.png") no-repeat center;
    width: 0.17rem;
    height: 0.17rem;
    background-size: cover;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: url("img/logo24.png") no-repeat center;
    width: 0.17rem;
    height: 0.17rem;
    background-size: cover;
}
.pro-info .swiper-container {
    border-bottom: 1px solid #e8e8e8;
}

.pro-info .swiper-slide {
    width: 100%;
    height: 6.35rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pro-info .content {
    padding: 0.3rem 0.3rem 0.25rem;
    background: #fff;
}

.pro-info .content .name {
    font-size: 0.38rem;
    line-height: 0.36rem;
    color: #333;
}

.pro-info .content .price {
    font-size: 0.5rem;
    line-height: 0.36rem;
    color: #cebd78;
    font-family: 'Arial';
    margin-top: 0.28rem;
}

.pro-info .content .price .dec {
    font-size: 0.3rem;
}

.pro-info .content .price .old {
    font-size: 0.32rem;
    color: #8d8169;
    text-decoration: line-through;
}

.pro-info .content .price .oldp {

}

.pro-info .content .freight {
    font-size: 0.28rem;
    line-height: 0.24rem;
    color: #999;
    margin-top: 0.3rem;
}
.yunf{

}
.buynum{

}
.infoajax img{
    width:7.5rem;
}
.collect{
    color: #cebd78;
    font-size: 0.3rem;
    font-weight: bold;
    font-family: '微软雅黑';
}
.tips{
    height: 0.8rem;
    line-height: 0.8rem;
    background-color: #fafafa;
    border-bottom: 0.01rem solid #e8e8e8;
}

.tips span {
    display: inline-block;
    font-size: 0.24rem;
    line-height: 0.3rem;
    color: #666;
    padding-left: 0.43rem;
    background: url("img/logo26.png") no-repeat;
    background-size: 0.3rem 0.3rem;
}

.pro-info .size {
    height: 0.88rem;
    line-height: 0.88rem;
    background: #fff;
    padding: 0 0.15rem;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    margin-top: 0.2rem;
    color: #333;
    font-size: 0.3rem;
    position: relative;
}

.pro-info .size i {
    position: absolute;
    width: 0.18rem;
    height: 0.32rem;
    background: url("img/logo27.png") no-repeat;
    background-size: cover;
    top: 0.3rem;
    right: 0.17rem;
}

.pro-info .information {
    background: #fff;
}

.pro-info .information .btns {
    margin-top: 0.2rem;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    height: 0.88rem;
}

.pro-info .information .btn {
    float: left;
    width: 50%;
    height: 0.84rem;
    font-size: 0.3rem;
    color: #333;
    line-height: 0.84rem;
    text-align: center;
    border-bottom: 0.04rem solid #fff;
}

.pro-info .information .btn.cur {
    color: #cebd78;
    border-bottom: 0.04rem solid #cebd78;
}

.pro-info .information .infoajax {
    width:7.5rem;
    overflow: hidden;
}

.goshop {
    width: 100%;
    background: #fff;
    height: 1.28rem;
    border-top: 1px solid #e8e8e8;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 50;
}

.goshop .tb {
    width: 0.46rem;
    height: 0.46rem;
    margin: 0 auto 0;
}

.goshop span {
    display: block;
    text-align: center;
    font-size: 0.3rem;
    line-height: 0.24rem;
    color: #8d8169;
    margin-top: 0.05rem;
}

.goshop #coll {
    float: left;
    width: 1.52rem;
    border-right: 1px solid #e8e8e8;
    box-sizing: border-box;
    margin-top: 0.24rem;
}

.goshop #coll .tb {
    background: url("img/logo14.png") no-repeat;
    background-size: cover;
}

.bujiaj{
    font-size: 0.32rem;
    color: #666;
}

.goshop .goshopc {
    float: left;
    width: 1.52rem;
    height: 1rem;
    box-sizing: border-box;
    padding-top: 0.2rem;
}

.goshop .goshopc .tb {
    background: url("img/logo13.png") no-repeat;
    background-size: cover;
}

.goshop .addshopc {
    width: 2.24rem;
    height: 1.28rem;
    background: #8d8169;
    color: #e6dcb3;
    font-size: 0.32rem;
    text-align: center;
    line-height: 1.28rem;
    float: left;
}

.goshop .gobuy {
    width:2.22rem;
    height: 1.28rem;
    background: #dccc8d;
    color: #fff;
    font-size: 0.3rem;
    text-align: center;
    line-height: 1.28rem;
    float: right;
}

.evaluateajax {
    display: none;
}

.evaluateajax .memlist {
    padding: 0.45rem 0.65rem 0.23rem;
    border-bottom: 1px solid #e8e8e8;
}

.evaluateajax .memlist ul {
    width: 6.35rem;
}

.evaluateajax .memlist li {
    width: 1rem;
    height: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0.27rem;
    margin-bottom: 0.22rem;
    float: left;
    border-radius: 50%;
}
.size-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 51;
    display: none;
}

.size-mask .tcbox {
    max-height: 5rem;
    overflow-y: auto;
}

.size-mask .size-box {
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.size-mask .size-box .img {
    width: 2.34rem;
    height: 2.34rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.08rem;
    border: 1px solid #e9e9e9;
    margin-top: -0.37rem;
}

.size-mask .size-box .size-info {
    width: 7.2rem;
    height: 2.27rem;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 0.15rem;
}

.size-mask .size-box .info {
    padding-left: 0.31rem;
    padding-top: 0.45rem;
}

.size-mask .size-box p {
    font-size: 0.3rem;
    line-height: 0.54rem;
    color: #333;
}

.size-mask .size-box .price {
    color: #cebd78;
    font-size: 0.38rem;
}

.size-mask .size-box .tc {
    padding-left: 0.22rem;
    padding-top: 0.26rem;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 0.04rem;
}

.size-mask .size-box .tc li.cur {
    background-color: #cebd78;
    color: #fff;
}
.size-mask .size-box .tc .tit {
    font-size: 0.3rem;
    line-height: 0.3rem;
    padding-bottom: 0.3rem;
}

.size-mask .size-box .tc li {
    float: left;
    background: #f5f5f5;
    line-height: 0.51rem;
    color: #333;
    font-size: 0.26rem;
    border-radius: 0.08rem;
    padding: 0 0.21rem;
    margin-right: 0.27rem;
    margin-bottom: 0.25rem;
}

.size-mask .size-box .tc li.choose-cur {
    background: #cebd78;
    color: #fff;
}

.size-mask .size-box .getnum {
    height: 0.91rem;
    padding: 0 0.26rem 0 0.22rem;
}

.size-mask .size-box .getnum .tit {
    font-size: 0.3rem;
    line-height: 0.91rem;
    color: #333;
}

.size-mask .size-box .getnum .numbox {
    margin-top: 0.16rem;
}

.size-mask .size-box .getnum .jia, .size-mask .size-box .getnum .jian {
    width: 0.58rem;
    height: 0.59rem;
}

.size-mask .size-box .getnum .jia {
    background: url("img/logo29.jpg") no-repeat;
    background-size: cover;
}

.size-mask .size-box .getnum .jian {
    background: url("img/logo28.jpg") no-repeat;
    background-size: cover;
    margin-right: 0.24rem;
}

.size-mask .size-box .getnum .amount {
    width: 0.84rem;
    height: 0.57rem;
    border: 1px solid #dbdbdb;
    border-radius: 0.04rem;
    background: #f1f1f1;
    margin-right: 0.24rem;
    font-size: 0.38rem;
    color: #666;
    line-height: 0.57rem;
    text-align: center;
}

.size-mask .size-box .get-btn {
    font-size: 0.36rem;
    color: #fff;
    text-align: center;
    line-height: 1rem;
    padding: 0 0.25rem;
    padding-bottom: 0.2rem;
}

.size-mask .size-box .close {
    width: 0.44rem;
    height: 0.44rem;
    background: url("img/logo32.png") no-repeat;
    background-size: 0.44rem 0.44rem;
    position: absolute;
    top: 0.16rem;
    right: 0.16rem;
}
.choose-box .jjbox .quan{
    background:url("img/logo30.png") no-repeat center;
    width:0.35rem;
    height: 0.35rem;
    background-size: cover;
    display: inline-block;
    margin-top: 0.16rem;
    margin-right: 0.36rem;
}
.choose-box .jjbox .quan.cur{
    background:url("img/logo31.png") no-repeat center;
    width:0.35rem;
    height: 0.35rem;
    background-size: cover;
    display: inline-block;

}
.jjbox{
    margin-bottom: 0.2rem;
}
.jjimg{
    background:url("img/img7.png") no-repeat center;
    width:1.11rem;
    height:1.11rem;
    background-size: cover;
    display: inline-block;
}
.choose-box .jjbox .quan2{
    margin-top: 0.46rem;
}
.jjwz{
    margin-top: 0.2rem;
    margin-left: 0.3rem;
    font-size: 0.32rem;
    color: #666666;
}
.jjwz i{
    font-size: 0.32rem;
    color: #cebd78;
    font-weight: bold;
}
.infoajax{
    padding-top: 0.02rem;
}
.che-com .pro-style {
    background: #fff;
}

.che-com .content {
    padding: 0.35rem 0.3rem;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
}

.pro-info .che-com .name {
    font-size: 0.3rem;
    color: #333;
    line-height: 0.34rem;
    margin-right: 0.18rem;
}

.che-com ul {
    float: left;
}

.che-com li {
    width: 0.28rem;
    height: 0.27rem;
    float: left;
    margin-right: 0.06rem;
    background: url("img/logo34.png") no-repeat;
    background-size: cover;
}

.che-com li.cur {
    background: url("img/logo33.png") no-repeat;
    background-size: cover;
}

.che-com .time {
    font-size: 0.24rem;
    color: #999999;
    line-height: 0.34rem;
}

.che-com .words {
    font-size: 0.26rem;
    line-height: 0.44rem;
    color: #666666;
    margin-top: 0.2rem;
}

.che-com .reply {
    font-size: 0.26rem;
    line-height: 0.3rem;
    color: #666666;
    padding: 0.23rem 0.28rem;
    background: #f0f0f0;
    margin-top: 0.21rem;
    position: relative;
}

.che-com .reply .time {
    font-size: 0.24rem;
    line-height: 0.29rem;
    margin-top: 0.19rem;
    color: #999;
}

.che-com .reply i {
    position: absolute;
    width: 0.18rem;
    height: 0.08rem;
    background: url("img/logo35.png") no-repeat;
    background-size: cover;
    position: absolute;
    top: -0.09rem;
    left: 0.35rem;
}
.pro-in-gocart {
    width: 3.38rem;
    height: 0.94rem;
    line-height: 0.94rem;
    border: 0.02rem solid #888;
    box-sizing: border-box;
    font-size: 0.3rem;
    color: #1c1f23;
    border-radius: 6px;
}
.pro-in-gobuy {
    width: 3.38rem;
    height: 0.94rem;
    line-height: 0.94rem;
    background-color: #c8994c;
    box-sizing: border-box;
    font-size: 0.3rem;
    color: #1c1f23;
    border-radius: 6px;
    color: #fff;
}