.login .line {
    line-height: 1.12rem;
    border-bottom: 0.01rem solid #e8e8e8;
    width:6.8rem;
    overflow: hidden;
    margin:0 auto;
    padding-left: 0.36rem;
    padding-right: 0.34rem;
}

.login .regmainbox span {
    float: left;
    width: 1.7rem;
    font-size: 0.34rem;
    color: #333;
}
.login .yaoqing{
    float: left;
    width: 1.8rem;
    font-size: 0.3rem;
    color: #1f2024;
}
.login .yaoqing i{
    font-size: 0.3rem;
    color: #888;
}
.login .text {
    width:3.2rem;
    height: 1.12rem;
    font-size: 0.32rem;
    color: #999;
    border: 0;
    background: none;
    float: left;
    display: block;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.login .link {
    margin-top: 0.46rem;
}

.login .link a {
    font-size: 0.3rem;
    line-height: 0.3rem;
    color: #666666;
}

.reg{
    width:100vw;
    height: 100vh;
    background-color: #f8f8f8;
}
.regmainbox{
    width:7.5rem;
    position: absolute;
    top:4.2rem;
    left:50%;
    margin-left: -3.75rem;
    border-radius: 6px;
    background-color: #fff;
}
.btn {
    height:1.1rem;
    width: 6.8rem;
    top: 9.23rem;
    left: 50%;
    margin-left: -3.4rem;
    line-height: 1.1rem;
    color: #fff;
    background-color: #dccc8d;
    font-size: 0.36rem;
    position: absolute;
    border-radius: 6px;
    text-align: center;
}
.reg .yzm .get {
    float: right;
    width: 1.9rem;
    height: 0.66rem;
    background: #fff;
    color: #d3c382;
    font-size: 0.3rem;
    border-radius: 0.08rem;
    line-height: 0.6rem;
    text-align: center;
    margin-top: 0.24rem;
    box-sizing: border-box;
    border:0.01rem solid #d3c382;
}
.reg .yzm .get2 {
    float: right;
    width: 1.9rem;
    height: 0.66rem;
    background: #fff;
    color: #d3c382;
    font-size: 0.3rem;
    border-radius: 0.08rem;
    line-height: 0.6rem;
    text-align: center;
    margin-top: 0.24rem;
    box-sizing: border-box;
    border:0.01rem solid #d3c382;
}
.gowxb {
    position: absolute;
    top:10.2rem;
    left:50%;
    text-align: center;
    font-size: 0.3rem;
    line-height: 0.3rem;
    color: #9c9c9c;
    margin-top: 0.4rem;
    margin-left: -1.26rem;
}
.loginlogo {
    background: url("img/img12.png") no-repeat center;
    width: 2.6rem;
    height: 2.6rem;
    background-size: cover;
    position: absolute;
    top: 1.2rem;
    left: 50%;
    margin-left: -1.3rem;
}
