.shopcar.detailed {
    /*margin-top: 0.16rem;*/
}

.shopcar.detailed .info {
    width: 4.4rem;
}

.shopcar.detailed .img {
    width: 1.94rem;
    height: 1.94rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.shopcar.detailed .bot .num {
    font-size: 0.26rem;
    line-height: 0.3rem;
    color: #666666;
}

.shopcar .box {
    padding: 0.37rem;
    height: 1.86rem;
    border-bottom: 1px solid #e8e8e8;
    background: #fff;
    position: relative;
}


.shopcar .tt {
    font-size: 0.32rem;
    /* line-height: 0.36rem; */
    color: #3d3d45;
    height: 0.62rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.shopcar .tt a {
    color: #333;
}

.shopcar .tc {
    font-size: 0.26rem;
    line-height: 0.24rem;
    color: #666;
}

.shopcar .tc .int span {
    margin-right: 0.08rem;
}

.shopcar .bot {
    margin-top: 0.16rem;
}

.shopcar .price {
    font-size: 0.32rem;
    line-height: 0.3rem;
    font-family: 'Arial';
    color: #c8994c;
}

.shopcar .price .amo {
    font-size: 0.32rem;
}

.num{
    font-size: 0.32rem;
    color: #333333;
    line-height: 1;
    margin-top: 0.12rem;
}
.jiajname{
    font-size: 0.32rem;
    line-height: 0.92rem;
    color: #666;
    padding-left: 0.37rem;
    background: #fff;
    border-top: 0.01rem solid #e8e8e8;
    border-bottom: 0.01rem solid #e8e8e8;
}