body{
    background: #f3fbfd;
}
.choose-taste{

}
.choose-taste .list{
    background: #fff;
}
.choose-taste .list li{
    padding: 0.43rem 0.45rem;
    border-bottom: 1px solid #e8e8e8;
    line-height: 0.44rem;
    font-size: 0.34rem;
    color: #333333;
    position: relative;
}
.choose-taste .list li p{
    padding-right: 0.75rem;
}
.choose-taste .list li i{
    position: absolute;
    right: 0.55rem;
    top: 50%;
    width: 0.44rem;
    height: 0.44rem;
    margin-top: -0.22rem;
    background-image: url(img/x_img2.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;
}
.choose-taste .list li.cur i{
    display: block;
}
.choose-taste .submit{
    display: block;
    margin: 0.4rem 0.35rem;
    background-color: #dccc8d;
    border-radius: 0.08rem;
    height: 1.18rem;
    line-height: 1.18rem;
    text-align: center;
    font-size: 0.34rem;
    color: #fff;
}



