
.choose-type{
	padding: 0.4rem 0.35rem;
}
.choose-type li{
	margin-bottom: 0.4rem;

}
.choose-type li .box{
	display: flex;
	background-image: url(img/x_img3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	height: 1.84rem;
	align-items:center;
	padding: 0 0.53rem 0 0.67rem;
}
.choose-type li .box p{
	flex:1;
	font-size: 0.48rem;
	color: #ffffff;
	line-height: 0.58rem;
	text-shadow: 0 -0.02rem 0 rgba(4,0,0,0.36);
}
.choose-type li .box i{
	width: 1.0rem;
	height: 1.0rem;
}




