<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-language" content="zh-CN"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="杭州博采网络科技股份有限公司-高端网站建设-http://www.bocweb.cn"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>成都猫眼食品有限责任公司</title>

    <link rel="stylesheet" href="/Html/public/css/reset.css">
    <link rel="stylesheet" href="/Html/public/css/main.css">
    <link rel="stylesheet" href="/Html/css/address.css">

    <script src="/Html/public/js/jQuery.js"></script>
    <script src="/Html/public/js/vue.js"></script>
    <script src="/Html/public/js/main.js"></script>
</head>
<body style="background-color: #f3fbfd">
<div class="address" id="address" v-cloak="">
    <div :class="['addlist']" v-for="add in info.Addresses" :data-addid="add.Id">
        <a :href="'/Html/html/shopcar/addressinfo.html?id='+add.Id">
            <span class="logo"></span>
            <div class="minfo f-cb">
                <div class="name fl">{{add.Contacts}}</div>
                <div class="ph fl">{{add.Phone}}</div>
            </div>
            <div class="moren" v-if="add.IsDefault">默认</div>
            <div class="add">收货地址：{{add.RegionName}}{{add.Address}}</div>
        </a>
    </div>
    <a href="/Html/html/shopcar/addaddress.html" class="submit">添加新地址</a>
</div>

<div class="new-loading">
<ul class="small-loading">
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</div>
<script src="/Html/mjs/address.js"></script>
</body>

</html>