<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="zh-CN" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="杭州博采网络科技股份有限公司-高端网站建设-http://www.bocweb.cn" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>成都猫眼食品有限责任公司</title>
    <script type="text/javascript" src="/Html/public/js/jQuery.js"></script>
    <script type="text/javascript" src="/Html/public/js/main.js"></script>
    <script type="text/javascript" src="/Html/public/js/vue.js"></script>
    <link rel="stylesheet" href="/Html/public/css/reset.css">
    <link rel="stylesheet" href="/Html/public/css/main.css">
    <link rel="stylesheet" href="/Html/css/integral.css">
</head>
<body style="background-color:#f3fbfd">
<div class="wallet" id="main" v-cloak="">
    <div class="intinfo" id="intinfo">
        <p class="tt">当前积分</p>
        <div class="num"><span>{{info.Available}}</span></div>
        <div class="duihbox"><a href="/Html/html/personalcenter/pointsfor.html" class="jifbtn">积分兑换</a></div>
        <a href="/Html/html/personalcenter/page.html?04" class="intro">积分说明</a>
    </div>
    <div class="title">资金变动记录</div>
    <div class="list" id="intlist">
        <ul>
            <li v-for="list in bdinfo">
                <div class="tt">{{list.Remark}}</div>
                <div class="ti">交易时间：{{list.CreateTime}}</div>
                <div class="num jia" v-if="list.BillType==1">+{{list.Money}}</div>
                <div class="num jian" v-if="list.BillType==2">-{{list.Money}}</div>
            </li>
        </ul>
        <div class="scrolltop"></div>
    </div>
    <div class="new-loading">
        <ul class="small-loading">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <script src="/Html/mjs/integral.js"></script>
</div>
</body>
</html>