<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-language" content="zh-CN"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="杭州博采网络科技股份有限公司-高端网站建设-http://www.bocweb.cn"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>成都猫眼食品有限责任公司</title>
    <link rel="stylesheet" href="/Html/public/css/reset.css">
    <link rel="stylesheet" href="/Html/public/css/main.css">
    <link rel="stylesheet" href="/Html/css/orderinfo.css">
    <script src="/Html/public/js/jQuery.js"></script>
    <script src="/Html/public/js/vue.js"></script>
    <script src="/Html/public/js/main.js"></script>

</head>
<body style="background-color: #f3fbfd">
<div class="order-info" id="main" v-cloak="">
    <!--待付款-->
    <div class="status" v-if="info.OrderStatus == 0&&info.RefundStatus==0">
        <p>订单编号：{{info.OrderNo}}</p>
        <p>订单状态：<span class="dccc8d">等待买家付款</span></p>
        <p class="deadline">还剩下<span class="min">59</span>分<span class="sec">59</span>秒 支付（若未支付订单将取消）</p>
        <div class="btns f-cb">
            <div class="btn fl can-btns">取消订单</div>
            <a :href="'/Html/html/shopcar/pay.html?id='+info.Id+'&OrderNo='+info.OrderNo+'&money='+info.PayFee+'&time='+info.CreateTime+'&yhq='+info.CouponMoney" class="btn fr cur">立即付款</a>

        </div>
    </div>

    <!--待发货-->
    <div class="status" v-if="info.OrderStatus == 1&&info.RefundStatus==0">
        <p>订单编号：{{info.OrderNo}}</p>
        <p>订单状态：<span class="dccc8d">买家已付款，等待卖家发货</span></p>
        <div class="btns f-cb">
            <div class="bigbtn remind-btn">提醒发货</div>
        </div>
    </div>

    <!--待确认-->
    <div class="status" v-if="info.OrderStatus == 2&&info.RefundStatus == 0">
        <p>订单编号：{{info.OrderNo}}</p>
        <p>订单状态：<span class="dccc8d">买家已付款，等待卖家发货</span></p>
        <p>还剩下 <span class="color">{{info.conday}}</span>天 <span class="color">{{info.conhour}}</span>小时 自动确认</p>
        <div class="btns f-cb">
            <div class="bigbtn confirm-btns">确认收货</div>
        </div>
    </div>
    <!--未评价-->
    <div class="status" v-if="info.EvaluateStatus==0&&info.OrderStatus==3&&info.RefundStatus==0">
        <p>订单编号：{{info.OrderNo}}</p>
        <p>订单状态：<span class="dccc8d">交易完成</span></p>
        <div class="btns f-cb">
            <div class="btn fl del-btns">删除订单</div>
            <a :href="'/Html/html/personalcenter/comment.html?id='+info.Id" class="btn fr cur">评价</a>
        </div>
    </div>
    <!--已评价-->
    <div class="status"  v-if="(info.EvaluateStatus == 1||info.EvaluateStatus == 2)&&info.OrderStatus==3&&info.RefundStatus==0">
        <p>订单编号：{{info.OrderNo}}</p>
        <p>订单状态：<span class="dccc8d">交易完成</span></p>
        <div class="btns f-cb">
            <div class="btn fl del-btns delete-btn">删除订单</div>
            <a :href="'/Html/html/personalcenter/checkcomment.html?id='+info.Id" class="btn fr cur">查看评价</a>
        </div>
    </div>
    <!--已关闭-->
    <div class="status" v-if="info.OrderStatus == 4&&info.RefundStatus==0">
        <p>订单编号：{{info.OrderNo}}</p>
        <p>订单状态：<span class="zhus">交易关闭</span></p>
        <div class="btns f-cb">
            <div class="bigbtn  del-btns delete-btn">删除订单</div>
        </div>
    </div>
    <!--退货中-->
    <div class="status" v-if="info.RefundStatus==1">
        <p>订单编号：{{info.OrderNo}}</p>
        <p>订单状态：<span class="dccc8d">退货中</span></p>
    </div>
    <!--退款成功-->
    <div class="status" v-if="info.RefundStatus==2">
        <p>订单编号：{{OrderNo}}</p>
        <p>订单状态：<span class="dccc8d">退货成功</span></p>
    </div>
    <div class="logi" v-if="info.ShippingStatus == 1">
        <a :href="'http://m.kuaidi100.com/index_all.html?type='+info.ShippingCode+'&postid='+info.ShippingNo+'&callbackurl='+URL+'/Html/html/personalcenter/orderinfo.html?id='+info.Id">
            <!--<div class="now">[杭州市]快件已到浙江省杭州市西湖区..</div>-->
            <!--<span class="time">2016-07-10 15:55:00 </span>-->
            <span class="click">点击查看物流</span>
            <i></i>
        </a>
    </div>
    <div class="choadd">
        <div class="name fl">{{info.Consignee}}</div>
        <span class="tel fl">{{info.Tel}}</span>
        <div class="clear"></div>
        <div class="add">{{info.RegionName}}{{info.Address}}</div>
    </div>
    <div class="pro-style clearfix" v-for="list in info.OrderGoods" :data-gid="list.GoodsId">
        <div class="img fl" :style="{backgroundImage: 'url('+list.GoodsImage.SmallThumbnail+')'}"></div>
        <div class="info fl">
            <div class="name">{{list.GoodsName}}</div>
            <div class="shux">{{list.GoodsAttribute}}</div>
        </div>
        <div class="num fr">
            <div class="price">¥ {{list.Price.toFixed(2)}}</div>
            <div class="number">x {{list.Quantity}}</div>
        </div>
        <!--<div class="color fl"><span v-for="sx in list.shuxin">{{sx}}</span></div>-->
    </div>
    <a href="javascript:;" class="back" v-if="(info.OrderStatus==2||1) && info.PayStatus==2 && info.RefundStatus==0">退货</a>
    <div class="line money">
        <div class="tt">商品金额</div>
        <div class="price">¥ <span class="amo">{{info.GoodsAmount.toFixed(2)}}</span></div>
    </div>
    <div class="line">
        <div class="tt">邮费</div>
        <div class="price">¥ <span class="amo">{{info.ShippingFee.toFixed(2)}}</span></div>
    </div>
    <!--<div class="line orderin-jif">-->
        <!--<div class="tt">积分抵扣</div>-->
        <!--<div class="price ">¥ <span class="amo">{{info.IntegralMoney.toFixed(2)}}</span></div>-->
    <!--</div>-->
    <div class="line orderin-yhq" >
        <div class="tt">优惠券</div>
        <div class="price ">¥ <span class="amo">{{info.CouponMoney.toFixed(2)}}</span></div>
    </div>
    <div class="line orderin-yhq" >
        <div class="tt">配送时间</div>
        <div class="price "><span class="amo">{{info.BestTime}}</span></div>
    </div>
    <div class="paymoney">
        <p class="sum" >待付金额：<span>¥{{info.PayFee.toFixed(2)}}</span></p>
        <!--<p class="sum" v-else="">实付金额：<span>¥{{info.PayFee}}</span></p>-->
        <p class="time">下单时间：{{info.CreateTime}}</p>
    </div>
</div>
<!--<div class="pop dn pop-del">-->
    <!--<div class="box">-->
        <!--<p class="tit">确认删除订单?</p>-->
        <!--<div class="btnb">-->
            <!--<p><a class="no">取消</a></p>-->
            <!--<p><a class="ok delete-btn">确定</a></p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="pop dn pop-can">-->
    <!--<div class="box">-->
        <!--<p class="tit">确认取消订单?</p>-->
        <!--<div class="btnb">-->
            <!--<p><a class="no">取消</a></p>-->
            <!--<p><a class="ok can-btn">确定</a></p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="pop dn pop-com">-->
    <!--<div class="box">-->
        <!--<p class="tit">确认收货?</p>-->
        <!--<div class="btnb">-->
            <!--<p><a class="no">取消</a></p>-->
            <!--<p><a class="ok confirm-btn">确定</a></p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="new-loading">-->
<!--<ul class="small-loading">-->
<!--<li></li>-->
<!--<li></li>-->
<!--<li></li>-->
<!--<li></li>-->
<!--<li></li>-->
<!--<li></li>-->
<!--<li></li>-->
<!--<li></li>-->
<!--</ul>-->
<!--</div>-->
<script src="/Html/mjs/orderinfo.js"></script>
</body>
</html>