<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta http-equiv="content-language" content="zh-CN">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content>
    <meta name="description" content>
    <meta name="author" content="杭州博采网络科技股份有限公司-高端网站建设-http:/www.bocweb.cn">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="/Html/public/css/reset.css">
    <link rel="stylesheet" href="/Html/public/css/swiper.min.css">
    <link rel="stylesheet" href="/Html/public/css/main.css">
    <link rel="stylesheet" href="/Html/css/productslist.css">
    <script type="text/javascript" src="/Html/public/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/Html/public/js/main.js"></script>
    <script type="text/javascript" src="/Html/public/js/swiper.min.js"></script>
    <script type="text/javascript" src="/Html/public/js/vue.js"></script>
    <title>成都猫眼食品有限责任公司</title>
</head>
<body style="background-color: #f3fbfd">
<div id="mainlist">
    <div class="box" v-cloak="">
        <div class="index-navbox clearfix">
            <a href="/index.html">
                <i class="navlogo navlogo1"></i>
                <span class="index-navwz">首页</span>
            </a>
            <a href="/Html/html/buy/productskind.html" class="active">
                <i class="navlogo navlogo2"></i>
                <span class="index-navwz">分类</span>
            </a>
            <a href="/Html/html/shopcar/shopcar.html">
                <i class="navlogo navlogo3"></i>
                <span class="index-navwz">购物车</span>
            </a>
            <a href="/Html/html/personalcenter/personalcenter.html">
                <i class="navlogo navlogo4"></i>
                <span class="index-navwz">我的</span>
            </a>
        </div>
        <div class="rightbar">
            <div class="logo9 scroll"></div>
            <a :href="'tel:'+telinfo.data" class="logo10"></a>
        </div>
        <div class="products-nav f-cb">
            <div class="left fl f-cb">
                <div class="sort fl cur chobtn">综合排序</div>
                <div class="num fl chobtn">销量优先</div>
                <!--<div class="screen fl chobtn">高级筛选</div>-->
            </div>
            <div class="btn"></div>
        </div>
        <div class="sort-mask">
            <div class="sort-box">
                <ul>
                    <li class="typecur com" data-type="0">综合排序</li>
                    <li class="htl" data-type="2">价格从高到低</li>
                    <li class="lth" data-type="1">价格从低到高</li>
                </ul>
            </div>
        </div>
        <!--高级筛选-->
        <!--<div class="screen-mask" id="screen-mask">-->
        <!--<div class="shaixuanbox">-->
        <!--<div class="screen-box">-->
        <!--<div class="left f-cb">-->
        <!--<div class="shaixtitle">高级筛选</div>-->
        <!--</div>-->
        <!--<div class="brand outbox">-->
        <!--<div class="tit">口感</div>-->
        <!--<div class="content f-cb">-->
        <!--<ul>-->
        <!--<li>丰满而醇厚</li>-->
        <!--<li>丰满而醇厚</li>-->
        <!--<li>好吃</li>-->
        <!--<li>丰满而醇厚</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="others outbox">-->
        <!--<div class="tit">用料</div>-->
        <!--<div class="content f-cb">-->
        <!--<ul>-->
        <!--<li>丰满而醇厚</li>-->
        <!--<li>丰满而醇厚</li>-->
        <!--<li>好吃</li>-->
        <!--<li>丰满而醇厚</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="price outbox">-->
        <!--<div class="tit">价格</div>-->
        <!--<div class="section f-cb clearfix">-->
        <!--<input type="number" class="min fl" placeholder="最低价格">-->
        <!--<input type="number" class="max fr" placeholder="最高价格">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="screen-btn">确定</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <div class="index-box" id="index">
        <div class="mainbox">
            <div class="main">
                <div class="products clearfix">
                    <a :href="'/Html/html/fenlei/productsinfo.html?id='+pro.Id" class="probox" v-for="pro in info">
                        <div class="proimg" :style="{backgroundImage: 'url('+pro.MainImage.RelativePath+')'}"></div>
                        <div class="wenzbox">
                            <span class="name">{{pro.Name}}</span>
                            <span class="price">￥{{pro.ShopPrice.toFixed(2)}}</span>
                        </div>
                    </a>
                </div>
                <div class="scrolltop"></div>
            </div>
            <!--<div class="like">-->
            <!--<a href="javascript:;" class="top clearfix">-->
            <!--<div class="title fl">猜你喜欢</div>-->
            <!--</a>-->
            <!--<div class="products2 clearfix">-->
            <!--<a href="##" class="probox2">-->
            <!--<div class="proimg" style="background-image: url('../../img/img2.png')"></div>-->
            <!--<div class="wenzbox2">-->
            <!--<span class="name">木瓜拿破仑</span>-->
            <!--<span class="price">￥245</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--<a href="##" class="probox2">-->
            <!--<div class="proimg" style="background-image: url('../../img/img2.png')"></div>-->
            <!--<div class="wenzbox2">-->
            <!--<span class="name">木瓜拿破仑</span>-->
            <!--<span class="price">￥245</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--<a href="##" class="probox2">-->
            <!--<div class="proimg" style="background-image: url('../../img/img2.png')"></div>-->
            <!--<div class="wenzbox2">-->
            <!--<span class="name">木瓜拿破仑</span>-->
            <!--<span class="price">￥245</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--<a href="##" class="probox2">-->
            <!--<div class="proimg" style="background-image: url('../../img/img2.png')"></div>-->
            <!--<div class="wenzbox2">-->
            <!--<span class="name">木瓜拿破仑</span>-->
            <!--<span class="price">￥245</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="search-box" id="search_box">
        <div class="content">
            <div class="search fl">
                <div class="close fl"></div>
                <input type="text" class="text" id="search_alert" placeholder="搜索关键字">
                <span class="delete"></span>
            </div>
            <div class="btn fr">搜索</div>
        </div>
        <div class="con">
            <p>大家都在搜...</p>
            <ul>
                <li v-for="tag in taginfo" :data-tag="tag">{{tag}}</li>
            </ul>
        </div>
        <div class="nothing">
            <div class="tb"></div>
            <p>抱歉，没有找到符合条件的商品</p>
        </div>
    </div>
</div>
<div class="new-loading">
    <ul class="small-loading">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<script type="text/javascript" src="/Html/mjs/productslist.js"></script>
</body>
</html>