<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta http-equiv="content-language" content="zh-CN">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content>
    <meta name="description" content>
    <meta name="author" content="杭州博采网络科技股份有限公司-高端网站建设-http:/www.bocweb.cn">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="/Html/public/css/reset.css">
    <link rel="stylesheet" href="/Html/public/css/swiper.min.css">
    <link rel="stylesheet" href="/Html/public/css/main.css">
    <link rel="stylesheet" href="/Html/css/productsinfo.css">
    <script type="text/javascript" src="/Html/public/js/jQuery.js"></script>
    <script type="text/javascript" src="/Html/public/js/swiper.min.js"></script>
    <script type="text/javascript" src="/Html/public/js/main.js"></script>
    <script type="text/javascript" src="/Html/public/js/vue.js"></script>
    <title>成都猫眼食品有限责任公司</title>
</head>
<body>
<div class="infoBox" id="main">
    <div class="pro-info pb120">
        <div id="pro-info">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" :style="{backgroundImage: 'url('+listimg.RelativePath+')'}" v-for="listimg in info.MainImage"></div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
            <div class="content">
                <div class="name">{{info.Name}}</div>
                <div class="price">
                    <span class="nowp">¥<span class="int">{{info.Price.toFixed(2)}}</span></span>
                    <span class="old">价格 <span class="oldp">¥<i>{{info.OriginalPrice.toFixed(2)}}</i></span></span>
                    <span class="collect fr" v-if="info.HasCollect">已加入收藏</span>
                    <span class="collect fr" v-else="">加入收藏</span>
                </div>
                <div class="freight clearfix"><span class="yunf fl">运费：¥0.00</span><span class="buynum fr">{{info.SalesVolume}}人已付款</span>
                </div>
            </div>
            <div class="tips">
                <span style="margin-right: 0.82rem;margin-left: 0.32rem;">正品保障</span>
                <span>七天内无理由放心退</span>
            </div>
            <div class="goshop clearfix">
                <a href="../personalcenter/personalcenter.html" class="coll fl" id="coll">
                    <div class="tb"></div>
                    <span>我的</span>
                </a>
                <a href="../shopcar/shopcar.html" class="goshopc fl">
                    <div class="tb"></div>
                    <span>购物车</span>
                </a>
                <div class="addshopc fl">加入购物车</div>
                <div class="gobuy fr">立即购买</div>
            </div>
        </div>
        <div class="size">选择规格 <i></i></div>
        <div class="information">
            <div class="btns f-cb">
                <div class="btn cur">商品详情</div>
                <div class="btn eva-btn">销量评价</div>
            </div>
            <div class="info">
                <div class="infoajax">
                    {{{info.Description}}}
                </div>
                <div class="evaluateajax">
                    <div class="memlist f-cb" id="head">
                        <ul>
                            <li v-for="headlist in headinfo | limitBy 9"
                                :style="{backgroundImage:'url('+headlist.Avatar.SmallThumbnail+')'}"></li>

                            <li style="background-image:url('/Html/css/img/img11.png')" v-if="headinfo.length>9"></li>
                        </ul>
                    </div>
                    <div class="che-com" id="che_com">
                        <div class="content" v-for="list in evainfo.Evaluates">
                            <div class="top f-cb">
                                <div class="name fl" v-if="list.IsAnonymity">匿名</div>
                                <div class="name fl" v-else="">{{list.MemberName}}</div>
                                <ul>
                                    <li v-for="xing in 5" :class="[$index<list.Score?'cur':'']"></li>
                                </ul>
                                <div class="time fr">{{list.EvaluateTime.split(' ')[0]}}</div>
                            </div>
                            <div class="words">{{list.Content}}</div>
                            <div class="reply" v-if="list.ReplyContent">
                                {{list.ReplyContent}}
                                <div class="time">{{list.ReplyTime}}</div>
                                <i></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%;height: 1.28rem;"></div>
    </div>

    <div class="size-mask" id="size-mask">
        <div class="size-box">
            <div class="size-info f-cb">
                <div class="img fl" :style="{backgroundImage: 'url('+imgs+')'}"></div>
                <div class="info fl">
                    <p class="price">¥{{info.Price.toFixed(2)}}</p>
                    <p>库存 <span class="kc">{{info.Stock}}</span>件</p>
                    <!--<p>选择<span>{{list1.AttributeName}} </span></p>-->
                </div>
            </div>
            <div class="tcbox">
                <div class="tc first">
                    <div class="tit" :data-id="info.AttributeValues[0].AttributeId">
                        {{info.AttributeValues[0].AttributeName}}
                    </div>
                    <ul class="f-cb choose-box">
                        <li class="choose" :data-px="$index" :data-id="info.AttributeValues[0].AttributeId"
                            v-for="list2 in info.AttributeValues[0].list">{{list2}}
                        </li>
                    </ul>
                </div>
                <div class="tc other" v-if="info.AttributeValues[1]">
                    <div class="tit" :data-id="info.AttributeValues[1].AttributeId">
                        {{info.AttributeValues[1].AttributeName}}
                    </div>
                    <ul class="f-cb choose-box">
                        <li class="choose" :data-px="$index" :data-id="info.AttributeValues[1].AttributeId"
                            v-for="list2 in info.AttributeValues[1].list">{{list2}}
                        </li>
                    </ul>
                </div>
                <div class="tc other jiajg" v-if="info.PurchaseGood.length">
                    <div class="tit">加价购</div>
                    <div class="f-cb choose-box">
                        <div class="jjbox clearfix" data-jjid="0"><span class="quan fl"></span><span class="fl bujiaj">不加价</span></div>
                        <div class="jjbox clearfix" v-for="list in info.PurchaseGood" :data-jjid="list.Id"><span class="quan quan2 fl"></span><span
                                class="jjimg fl" :style="{backgroundImage:'url('+list.PurImage.RelativePath+')'}"></span><span class="fl jjwz"><i>+{{list.ShopPrice}}</i>元获得{{list.Name}}</span></div>

                    </div>
                </div>
            </div>
            <div class="getnum">
                <div class="tit fl">数量</div>
                <div class="numbox f-cb fr">
                    <div class="jian fl"></div>
                    <input type="tel" class="amount fl" value="1" disabled>
                    <div class="jia fl"></div>
                </div>
            </div>
            <div class="get-btn f-cb">
                <!--<div class="pro-in-gobuy">确定</div>-->
                <div class="pro-in-gocart fl">加入购物车</div>
                <div class="pro-in-gobuy fr">立即购买</div>
            </div>
            <div class="close"></div>
        </div>
    </div>
</div>
<div class="new-loading">
    <ul class="small-loading">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<script type="text/javascript" src="/Html/mjs/productsinfo.js"></script>
</body>
</html>